[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rmanikava
[access "refs/for/refs/*"]
	read = group user/rmanikava
	push = group user/rmanikava
	label-Code-Review = -2..+2 group user/rmanikava
	label-Verified = -1..+1 group user/rmanikava
	rebase = group user/rmanikava
	removeReviewer = group user/rmanikava
	submit = group user/rmanikava
[access "refs/heads/*"]
	read = group user/rmanikava
	create = group user/rmanikava
	push = +force group user/rmanikava
	pushMerge = group user/rmanikava
[access "refs/tags/*"]
	push = group user/rmanikava
	push = +force group user/rmanikava
